html, body, ul, ol {
  margin: 0;
  padding: 0; }

html, body, #wrapper {
  width: 100%;
  min-width: 100%; }

ul, ol {
  list-style: none; }

#wrapper {
  height: auto; }

.Customcontainer {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0px auto;
  overflow: hidden; }
  .Customcontainer #brand_logo {
    float: left;
    width: 50%;
    max-width: 210px; }
  .Customcontainer header {
    line-height: 60px; }
  .Customcontainer #usermenu {
    float: right;
    width: 300px;
    text-align: right; }
    .Customcontainer #usermenu li {
      width: 100px;
      display: inline-block; }
      .Customcontainer #usermenu li a {
        color: #17152A;
        text-decoration: none;
        font-size: 16px;
        font-family: "Myriad Pro"; }

#navigationbar {
  background-color: #000000;
  height: 50px;
  line-height: 50px; }
  #navigationbar nav {
    float: left; }
    #navigationbar nav a {
      color: white;
      text-decoration: none;
      font-family: "Myriad Pro";
      font-size: 14px;
      margin: 0 10px; }
      #navigationbar nav a:hover {
        color: #fe51ab; }
      #navigationbar nav a.active {
        color: #fe51ab; }
  #navigationbar #main-search {
    float: right;
    width: 230px; }
    #navigationbar #main-search .mainsearch {
      background: none;
      border: none;
      color: #ccc;
      font-family: "Myriad Pro";
      font-size: 12px;
      width: 100%;
      float: left;
      line-height: 50px; }
    #navigationbar #main-search #btn-search {
      background: none;
      border: none;
      color: #ccc;
      cursor: pointer;
      float: left;
      margin-left: -50px;
      line-height: 50px; }

#home_slider {
  height: auto;
  max-height: 500px; }
  #home_slider img {
    max-width: 100%;
    min-width: 100px;
    display: inline-block; }

.topmargin {
  margin-top: 25px; }

.heading-block {
  width: 100%;
  height: auto;
  line-height: 30px;
  color: #000;
  border-left: 15px solid #000;
  font-family: "Myriad Pro";
  padding-left: 15px; }
  .heading-block h2 {
    font-size: 22px; }

.catbox {
  width: 240px;
  height: 240px;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 20px; }
  .catbox:last-child {
    margin-right: 0; }
  .catbox:hover img {
    transform: scale(1.5, 1.5);
    transition: all 0.5s ease; }
  .catbox:hover span {
    color: #fe51ab; }
  .catbox img {
    width: 240px;
    height: 240px;
    max-width: 100%;
    transition: all 0.5s ease; }
  .catbox span {
    display: block;
    position: absolute;
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    height: 35px;
    line-height: 35px;
    z-index: 999;
    bottom: 35px;
    opacity: 0.6;
    font-family: "Myriad Pro";
    font-weight: bold; }

.prod-box {
  width: 240px;
  height: 316px;
  overflow: hidden;
  position: relative;
  margin: 0 0 30px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }
  .prod-box:nth-child(5n) {
    margin-right: 0px; }
  .prod-box > img {
    max-width: 100%;
    height: 316px; }
  .prod-box .prod-trans {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    vertical-align: middle; }
  .prod-box:hover .prod-trans {
    opacity: 0.7;
    transition: all 0.5s ease;
    text-align: center;
    padding-top: 110px;
    box-sizing: border-box; }
  .prod-box .CarcularBtns a {
    width: 45px;
    height: 45px;
    display: inline-block;
    background: #fff;
    color: #fe51ab;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
    margin: 0 20px;
    font-size: 18px;
    border-radius: 50%; }
    .prod-box .CarcularBtns a:hover {
      background: #fe51ab;
      color: white; }
  .prod-box .prod-name, .prod-box .prod-price {
    width: 80%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: "Myriad Pro";
    margin: 20px auto;
    min-height: 40px; }
  .prod-box .prod-price {
    height: auto;
    margin-bottom: 10px;
    min-height: auto; }
  .prod-box .prod-btn a {
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #fff;
    color: #171628;
    font-family: "Myriad Pro";
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }

.offerbx {
  width: 420px;
  height: 140px;
  float: left;
  margin-right: 10px; }
  .offerbx:last-child {
    margin-right: 0px; }
  .offerbx img {
    width: 420px;
    height: 140px; }

footer {
  margin-top: 40px;
  padding: 20px 0;
  background: #f5f5f5;
  color: #000; }
  footer h3 {
    margin: 0px;
    font-size: 22px;
    font-family: "Myriad Pro";
    margin-bottom: 25px; }
  footer ul li {
    display: inline-block;
    width: 50%;
    float: left; }
  footer a {
    color: #000;
    line-height: 25px;
    text-decoration: none;
    font-family: "Myriad Pro";
    font-size: 14px; }
    footer a:hover {
      color: #fe51ab; }
  footer .footer-wide {
    width: 365px;
    float: left;
    font-size: 14px;
    margin-right: 25px; }
    footer .footer-wide .text-node p {
      font-style: italic;
      margin: 20px 0;
      color: #ccc; }
    footer .footer-wide .subsmail {
      width: 100%;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      padding-left: 5px;
      border: none;
      float: left;
      color: #666;
      background: #e4e4e4; }
    footer .footer-wide .subsbtn {
      width: 40px;
      height: 40px;
      background: #17152A;
      color: #fff;
      text-align: center;
      line-height: 40px;
      border: 0px;
      float: left;
      font-size: 16px;
      cursor: pointer;
      margin-left: -40px; }
      footer .footer-wide .subsbtn:hover {
        color: #fe51ab; }
    footer .footer-wide p {
      text-align: justify;
      font-size: 14px;
      color: #666;
      font-family: "Myriad Pro"; }
    footer .footer-wide:last-child {
      margin-right: 0px; }
  footer .footer-list {
    margin-right: 25px;
    width: 225px;
    float: left; }

.copystrip {
  background: #17152A;
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  font-family: "Myriad Pro"; }

.border {
  border: 1px solid black; }

/* boostrapslider */
#home_slider {
  height: 500px;
  width: 100%; }
  #home_slider img {
    height: 500px;
    width: 100%; }
